.waveform {
    position: absolute;
    z-index: 1;
    color: #FFF;
    font-size: 0.85rem;
    margin: 0.25rem;
}

#waveformDropdown {
    background-color: #ffffff00;
}

#waveformDropdown option {
    color: #000;
}