.toggle-button {
    width: 70px;
    height: 35px;
    border: 3px solid #e2e8f0;
    font-family: 'Inter', sans-serif;
    background-color: #e2e8f0;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
    color: #333;
    user-select: none;
    border-radius: 0.35rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.toggle-button:nth-child(3n) {
    margin-right: 0rem;
}

.toggle-button:hover {
    background-color: #6b7280;
    opacity: 0.85;
}

.toggle-button.active {
    background-color: #333;
    border-color: #fff;
    color: #fff;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 0.001fr); 
    /* gap: 0.35rem; */
    margin: 0.5rem;
    margin-top: 0.75rem;
}